docs/
entregas/

material/01-formulas-matematicas/tarefa2/testes.c
material/01-formulas-matematicas/tarefa3/testes.c

material/02-problemas-com-vetores/tarefa1/testes.c
material/02-problemas-com-vetores/tarefa2/testes.c
material/02-problemas-com-vetores/tarefa3/testes.c

material/03-matrizes/tarefa1/testes.c
material/03-matrizes/tarefa2/testes.c

teste*-aluno
teste*-certo
a.out

material/prova